<?xml version="1.0"?>
<model>
  <name>d435_overhead</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>tog-sim</name></author>
  <description>Intel RealSense D435 (mesh from realsense2_description, Apache-2.0) with a Fortress rgbd_camera sensor. Sensor looks along the model +x axis; mount with pitch = 90 deg to look down.</description>
</model>
