<?xml version="1.0"?>
<model>
  <name>product_bar</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>tog-sim</name></author>
  <description>Flow-wrapped candy bar (Google Scanned Objects, CC BY 4.0) with a box collision for fast contacts. Origin at the bottom face centre.</description>
</model>
